{% extends "menu.html" %}
{% block title %}
<title>OChenil - Admin</title>
{% endblock %}
{% block main_content %}
{% load static %}
<p class="my-3"><br></p>
{% if user_feedback %}
<div class="alert alert-success w-100 mt-5" role="alert">
    <p> {{user_feedback}}</p>
</div>
{%endif%}

<div class="container mt-5 ">

    <!-- <section class="mt-5 ">
        <h2 class="page-section-heading  text-uppercase text-secondary mb-0 mt-3">Faire une réservation</h2>

        <div class="divider-custom d-flex justify-content-start">
            <div class="divider-custom-line"></div>
        </div>
        <form class="py-2" method="POST" action="{% url 'booking'%}">
            {% csrf_token %}
            <label for="selected_dog" class="form-label">Selectionner un chien</label>
            <p aria-label="champ selection chien">{{form.dog_name}}</p>
            <label for="start_date" class="form-label">Date d'arrivée</label>
            <p aria-label="champ date d'arrivée">{{form.start_date}}</p>
            <label for="end_date" class="form-label">Date de départ</label>
            <p aria-label="champ date de départ">{{form.end_date}}</p>
            <div class="row">
                <div class="col-12 my-2">
                    <button class="btn bg-primary my-sm-0 " type="submit" id_user=form.id>
                        <a class="text-white">Réserver</a>
                    </button>
                </div>
            </div>
        </form>
    </section> -->

    <section class="py-3 ">
        <!-- My bookings section-->
        <h2 class="page-section-heading  text-uppercase text-secondary mb-0">Toutes les reservations</h2>
        <!-- Divider-->
        <div class="divider-custom d-flex justify-content-start">
            <div class="divider-custom-line"></div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Chien</th>
                    <th scope="col">Taille de Chien</th>
                    <th scope="col">Date arrivée</th>
                    <th scope="col">Date départ</th>
                    <th scope="col">Box</th>
                    <th scope="col">Taille de box</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{booking.id}}</td>
                    <td>{{booking.dog.dog_name}}</td>
                    <td>{{booking.dog.dogsize}}</td>
                    <td>{{booking.start_date}}</td>
                    <td>{{booking.end_date}}</td>
                    <td>{{booking.box}}</td>
                    <td>{{booking.box.box_size}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>
    {% endblock %}